.circle {
  height: 35px;
  width: 35px;
  border: solid #A8D9F4 5px;
  background-color: #6CBFEE;
  border-radius: 50%;
  margin-top: 40px;
  z-index: 9999;
  position: relative;
  display: inline-block; }

.box {
  width: 850px;
  height: 250px;
  border: solid #6CBFEE;
  background-color: #6CBFEE;
  border-radius: 5px;
  margin-top: 40px;
  position: relative;
  display: inline-block; }

.box .triangle {
  width: 12px;
  height: 12px;
  border: solid #6CBFEE;
  background-color: #6CBFEE;
  position: absolute;
  transform: rotate(45deg);
  left: -1%;
  margin-top: 9px; }

.line {
  height: 300px;
  width: 5px;
  border: solid #A8D9F4;
  background-color: #A8D9F4;
  margin-left: 14px;
  margin-top: -10px;
  position: absolute; }

h1 {
  color: white;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Cabin Condensed", sans-serif;
  font-size: 24px;
  border-bottom: solid #9ad3f3 1px;
  font-weight: 700; }

.date {
  margin-top: 42px;
  display: block;
  font-family: "Cabin Condensed", sans-serif;
  padding-left: 79px;
  font-size: 11px;
  color: #DCDCDC; }

p.blackeyedPea {
  color: white;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Cabin Condensed", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: -9px; }

p.time {
  font-family: "Cabin Condensed", sans-serif;
  font-size: 35px;
  color: #6CBFEE;
  padding-left: 44px;
  margin-top: -5px; }

i {
  color: white;
  margin-left: 8px;
  font-size: 40em; }
