$first-color:#6CBFEE;

$font-style:'Cabin Condensed', sans-serif;

@import 'objects';

@mixin text () {
	color:white;
	padding:10px;
	margin-left:20px;
	margin-right:20px;
	font-family:$font-style;
}

h1 {
	@include text;
	font-size:24px;
	border-bottom:solid lighten($first-color,10) 1px;
	font-weight:700;
}

.date {
	margin-top:42px;
	display:block;
	font-family:$font-style;
	padding-left:79px;
	font-size:11px;
	color:#DCDCDC;
}

p.blackeyedPea {
	@include text;
	font-size:15px;
	font-weight:400;
	margin-top:-9px;
}

p.time {
	font-family:$font-style;
	font-size:35px;
	color:$first-color;
	padding-left:44px;
	margin-top:-5px;
}

i {
	color:white;
	margin-left:8px;
	font-size:40em;
}